/autostart
/create-next-app-nodejs
/Code
/chromium
/dconf
/discord
/Electron
/gh
/github-copilot
/glib-2.0
/godot
/google-chrome
/gtk-3.0
/htop
/Insomnia
/mpv
/Nextcloud
/nextjs-nodejs
/obs-studio
/onlyoffice
/PB for Desktop
/pritunl
/pulse
/Raspberry Pi
/unity3d
/unityhub
/vlc
/VSCodium
/.nextcloudsync.log
/kdeglobals
/mimeapps.list
/okularrc
/pavucontrol.ini
/QtProject.conf
